[package]
name = "jxl-oxide-cli"
description = "CLI tools of jxl-oxide"
authors = ["Wonwoo Choi <chwo9843@gmail.com>"]
repository = "https://github.com/tirr-c/jxl-oxide.git"
readme = "README.md"
keywords = ["jpeg-xl", "decoder", "jxl-oxide"]
categories = ["multimedia::images"]
license = "MIT OR Apache-2.0"

version = "0.2.3"
edition = "2021"

[dependencies]
lcms2 = "5.6.0"
miniz_oxide = "0.7.1"
png = "0.17.9"

[dependencies.clap]
version = "4.3.4"
features = ["derive"]

[dependencies.jxl-oxide]
version = "0.4.0"
path = "../jxl-oxide"

[dependencies.tracing]
version = "0.1.37"
default_features = false
features = ["std"]

[dependencies.tracing-subscriber]
version = "0.3.16"
features = ["env-filter"]
