[package]
name = "jxl-oxide"
description = "JPEG XL decoder written in pure Rust"
authors = ["Wonwoo Choi <chwo9843@gmail.com>"]
repository = "https://github.com/tirr-c/jxl-oxide.git"
readme = "README.md"
keywords = ["jpeg-xl", "decoder", "jxl-oxide"]
categories = ["multimedia::images"]
license = "MIT OR Apache-2.0"

version = "0.5.0"
edition = "2021"

exclude = ["tests/"]

[dependencies]

[dependencies.jxl-bitstream]
version = "0.3.0"
path = "../jxl-bitstream"

[dependencies.jxl-color]
version = "0.4.0"
path = "../jxl-color"

[dependencies.jxl-frame]
version = "0.6.0"
path = "../jxl-frame"

[dependencies.jxl-grid]
version = "0.2.0"
path = "../jxl-grid"

[dependencies.jxl-image]
version = "0.6.0"
path = "../jxl-image"

[dependencies.jxl-render]
version = "0.5.0"
path = "../jxl-render"

[dependencies.jxl-threadpool]
version = "0.1.0"
path = "../jxl-threadpool"

[dependencies.tracing]
version = "0.1.37"
default_features = false
features = ["std"]

[features]
default = ["rayon"]
rayon = ["jxl-threadpool/rayon"]

[dev-dependencies]
lcms2 = "6.0.0"
zstd = "0.13.0"

[dev-dependencies.rand]
version = "0.8.5"
default_features = false
features = ["getrandom", "small_rng"]

[dev-dependencies.reqwest]
version = "0.11.20"
default_features = false
features = ["blocking", "rustls-tls"]
